.rectangulo
{
    position:absolute;
    width: 100%;
    height: 80%;
    top:0%;
    left: 0%;
    background-color:rgb(42, 50, 169);
}

.rectangulo1
{
    position:fixed;
    width: 65%;
    height: 10%;
    top:0%;
    left:35%;
    background-color:rgb(42, 50, 169) ;
    border: 2px solid white;
    

    
}

.Cuerpo
{
    position: absolute;
    background-color: #BAEAFF;
    width: 100%;
    height: 100%;
    top:80%;
}


.img1
{
    position: absolute;
    width: 3%;
    height: 50%;
    top:40%;
    left: 78%;
    cursor: pointer;
}

.img2
{
    position: absolute;
    top:20%;
    left: 47%;
    width: 50%;
    height: 70%;
}
.cuadro
{
    position: absolute;
    width: 20%;
    height: 18%;
    top:50%;
    left: 57%;
    
}
.opcion
{
    background-color:rgb(42, 50, 169) ;
    color:white;
    border: 0px;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

select
{
    position: relative;
    padding-left: 30px;
    top:50%;
    font-weight: bold;
    cursor: pointer;
}

.login
{
    position: absolute;
    height: 35%;
    width: 10%;
    top: 45%;
    left: 83%;
    color: white;
    background-color: rgb(175, 147, 255);
    font-family: 'Montserrat', sans-serif;
    border-radius: 15px;
    font-size: 100%;
    font-weight: bold;
}

.Boton_informarte
{
   position: absolute;
   top:85%;
   left: 15%;
   width: 250px;
   height: 70px;
   border-radius: 20px;
   font-size: 20px;

}

.Logo
{
    position: absolute;
    top:1%;
    left: 1%;
    width: 5%;
    height: 12%;
}

.LogoText
{
    position: absolute;
    top:1%;
    left: 7%;
    font-size: 40px;
    color: #24FF00;
    font-style: italic;
}

.Motivacion
{
    position: absolute;
    height: 30%;
    width: 33%;
    top:15%;
    left: 5%;
    font-size: 35px;
    font-weight: bold; 
    color:white;
}

.Descripcion
{
    position: absolute;
    height: 20%;
    width: 80%;
    top: 160%;
    left:2%;
    font-size: 10px;

}